body {
    background-color: #222;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    
}

h1 {
    padding-left:10px;
}

#messages {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 400px;
    width: 500px;
    outline: none;
    color: chartreuse;
    list-style-type: none;
    
    overflow-x: hidden;
    overflow-y: hidden;
}

#form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
}

#input {
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #555;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
    padding-left: 10px;
}

button {
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#clearChat {
    margin-left: 5px; /* Add some space between the Send and Clear buttons */
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #f44336; /* Red color for danger */
    color: #fff;
    cursor: pointer;
}

#clearChat:hover {
    background-color: #d32f2f; /* Darker red on hover */
}


.modal-content {
    background-color: #333 !important; /* Override Bootstrap background color */
    color: #fff !important; /* Override Bootstrap text color */
    border: 1px solid #555;
}

.modal-header {
    background-color: #333 !important; /* Override Bootstrap header background color */
    border-bottom: 1px solid #555;
    color: #fff !important; /* Override Bootstrap header text color */
}

.modal-title {
    color: #4CAF50 !important; /* Override Bootstrap title text color */
}

.modal-body {
    padding: 20px;
}
